@inherits SitecoreTemplate<Page.ViewModel>

<PageTitle> @Model.Title </PageTitle>

<header>
	<div id="header">
		<ScPlaceholder Name="headless-header" />
	</div>
</header>

<main>
	<div id="content">
		<ScPlaceholder Name="headless-main" />
	</div>
</main>

<footer>
	<div id="footer">
		<ScPlaceholder Name="headless-footer" />
	</div>
</footer>

@code {
	public class ViewModel
	{
		public string? Title { get; set; }
	}
}